<header>
  <p><a href="/">Hem</a></p>
  <p><a href="/goods">Te</a></p>
  <p><a href="/checkout">Kassa</a></p>
  <p><a href="/about">Om affären</a></p>
  <p><a href="/contact">Kontakta affären</a></p>
  <h1>{{pageTitle}}</h1>
</header>
