<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassa</title>
    <!-- load stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {{> header}}
    <p>Det här finns i din korg:</p>
    <section class="container">
      <div class="quantity-setter">
        <input type="number" id="quantity-input" min="1" value="1" />
        <button class="increment-btn" id="add">Lägg i korgen</button>
      </div>
      <button id="basic-button">
        Köp för <span id="total">5</span> kr
      </button>
    </section>
    {{> footer}}
    <script>
      // Publishable key from API keys in the Stripe Dashboard
      var PUBLISHABLE_KEY = "pk_live_QAeLzztCGto6VeIqPuUCGcF100c8v0Efqb";
      // Replace with the domain you want your users to be redirected back to after payment
      var DOMAIN = location.href.replace(/[^/]*$/, "");
      // SKU created in the Stripe Dashboard
      var SKU_ID = "sku_GWpdbzpAxPznoC";

      var stripe = Stripe(PUBLISHABLE_KEY);

      var basicButton = document.getElementById("basic-button");

      var updateQuantity = function(evt) {
        if (evt && evt.type === "keypress" && evt.keyCode !== 13) {
          return;
        }
        var inputEl = document.getElementById("quantity-input");
        var currentQuantity = parseInt(inputEl.value);
        var quantity = currentQuantity + 1;
        inputEl.value = quantity;
        document.getElementById("total").textContent = quantity;
      };

      Array.from(document.getElementsByClassName("increment-btn")).forEach(
        element => {
          element.addEventListener("click", updateQuantity);
        }
      );

      // Handle any errors from Checkout
      var handleResult = function(result) {
        if (result.error) {
          var displayError = document.getElementById("error-message");
          displayError.textContent = result.error.message;
        }
      };

      basicButton.addEventListener("click", function() {
        var quantity = parseInt(
          document.getElementById("quantity-input").value
        );

        // Make the call to Stripe.js to redirect to the checkout page
        // with the current quantity
      stripe
          .redirectToCheckout({
            items: [{ sku: SKU_ID, quantity: quantity }],
            successUrl:
              DOMAIN + "/success.html?session_id={CHECKOUT_SESSION_ID}",
            cancelUrl: DOMAIN + "/canceled.html"
          })
          .then(handleResult);
      });
    </script>
  </body>
</html>
