<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassa</title>
  </head>
  <body>
    {{> header}}
    <p>Här är allt du lagt i kundkorgen:</p>
    {{> footer}}
  </body>
</html>
