<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassa</title>
    <!-- load stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
      {{> header}}
    </header>
    <main>
      <h1>{{pageTitle}}</h1>
      <fieldset>
        <legend>I korgen</legend>
          <table id="list"></table>
          <button id="clear">Töm korgen</button>
          <button id="buy">
            Köp för <span id="total">0</span> kr
          </button>
      </fieldset>
    </main>
    <footer>
      {{> footer}}
    </footer>
    <script src="/checkout.js"></script>
  </body>
</html>
