<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kassa</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    {{> header}}
    <p>Det här finns i din korg:</p>
    {{> footer}}
  </body>
</html>
