<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genmaicha</title>
  </head>
  <body>
    {{> header}}
    <p>Här kommer snart en varubeskrivning</p>
    <p>Pris 50 kr per förpackning</p>
    <div class="quantity-setter">
      <input type="number" id="quantity-input" min="1" value="1" />
      <button id="basket-button">Lägg i korgen</button>
    </div>
    {{> footer}}
  </body>
</html>
