<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Te</title>
  </head>
  <body>
    {{> header}}
    <p><a href="/genmai">Genmaicha</a></p>
    <p><a href="/macha">Macha</a></p>
    <p><a href="/sencha">Sencha</a></p>
    {{> footer}}
  </body>
</html>
