<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Macha</title>
  </head>
  <body>
    {{> header}}
    <p>Här kommer det att komma en varubeskrivning, pris och knapp för varukorg</p>
    {{> footer}}
  </body>
</html>
