<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{description}}</p>
    <p>Pris {{price}} kr per förpackning</p>
    <button>Lägg en i korgen</button>
    {{> footer}}
    <label></label>
    <script>
      let myButton = document.querySelector('button');
      let myLabel = document.querySelector('label');
      let myStuff = [];
      function addStuff () {
          myStuff.push("{{pageTitle}}");
          myLabel.textContent = myStuff;
      }
      myButton.onclick = function() {
        addStuff();
      }
    </script>
  </body>
</html>
