<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{description}}</p>
    <p>Pris {{price}} kr per förpackning</p>
    <div class="quantity-setter">
      <button id="basket-button">Lägg en i korgen</button>
    </div>
    {{> footer}}
    <script>
      let basket = [];
      const button = document.querySelector('button');
      button.onclick = () => {
        basket.push("{{pageTitle}}");
        alert(basket);
      }
    </script>
  </body>
</html>
