<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{description}}</p>
    <p>Pris {{price}} kr per förpackning</p>
    <button>Lägg en i korgen</button>
    <label>0</label>
    {{> footer}}
    <script>
      let myButton = document.querySelector('button');
      let myLabel = document.querySelector('label');
      let myCounts = 0;
      function count () {
        myCounts++;
        myLabel.textContent = myCounts;
      }
      myButton.onclick = function() {
        count();
      }
    </script>
  </body>
</html>
